html ,body{

}

body{
  font-family: 'Lato', sans-serif;
  color: white;
  background-image: url('https://raw.githubusercontent.com/dsgeverton/dsgeverton.github.io/master/fundo.jpg');
  margin: 0px;
}

.sup{
  background-color: #838B83;
  background-position: 20%;
  display: grid;
  flex-wrap: wrap;
  height: 15rem;
}

nav{

}
.menu{
  position: absolute;
  margin-left: 50%;
  left: -71.5px;
}

nav ul{
  padding: 0px;
  margin: 0px;
  display: inline;
  justify-content: center;
}

nav li{
  display: inline;
  margin: 0;
  padding: 0 10px;
}

.titulo{
  margin-top: 3%;
  font-size: 380%;
  text-align: center;
}

.thumbnail{
  width: 50px;
}

.logos{

}

a{

}
.conteudo{
  margin: 100%
}

.fim{
  justify-content: flex-end;
}

.rodape{
  margin: 0px;
  margin-bottom: 10px;
  text-align: center;
  justify-content: flex-end;
}
