html ,body{

}

body{
  font-family: 'Lato', sans-serif;
  color: white;
  background-image: url('https://raw.githubusercontent.com/dsgeverton/dsgeverton.github.io/master/fundo.jpg');
  background-repeat: no-repeat;
  background-position: right;
  display:block;
  margin: 0px;
}
/*--------- PARTE SUPERIOR -------------*/

.sup{
  background-color: rgba(0,0,0,0.4);
  background-position: 20%;
  /*display: inline-block;*/
  height: 11rem;
}

.sup hr{
  margin-top: 20px;
  width: 100%;
}

/*--------- LISTA LATERAL -------------*/
.lista{
  width: 15%;
  background-image: linear-gradient(98deg, rgba(0,0,128,0.9), rgba(220,20,60,0.75));
  border: 5px solid linear-gradient(to bottom, MediumSeaGreen, #151515);
  border-radius: 5px;
  margin-left: 0%;
  margin-top: 0%;
}

.lista h2{
  margin: 0px;
  padding-top: 10px;
  text-align: center;
}

.lista hr{
  width: 80%;
  justify-content: center;
}

.lista ul{
  padding: 0px;
  /*padding-bottom: 10px;*/
  margin: 3%;
  list-style: none;
}

.lista li{
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 10px;
}

.lista a{
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  display: table;
  color: #fff;
  opacity: 0.6;
  position: relative;
  cursor:pointer;
}
.uma-linha{
  margin: auto;
  margin-top: 10px;
}

.lista a:hover{
  color: white;
  opacity: 1;
  transition-duration: 0.3s;
}

.lista a:active{
  opacity: 1;
  top: 2px;
  transition-duration: 0.1s
}

/*--------- FIM LISTA LATERAL -------------*/


.menu{
  position: absolute;
  margin-top: 1rem;
  margin-left: 50%;
  left: -71.5px;
}

.menu ul{
  padding: 0px;
  margin: 0px;
}

.menu li{
  display: inline;
  margin: 0;
  padding: 0 10px;
}

.titulo{
  padding: 20px;
  margin: 0px;
  margin-bottom: -50px;
  font-size: 50pt;
  text-align: center;
  text-shadow: 3px 4px #151515;
}

.thumbnail{
  width: 50px;
}

a{
  text-decoration: none;
}
.conteudo{
  display: flex;
  margin-top: 5%;
  margin-left: 2%;
  margin-bottom: 0px;
}

.fim{
  background-color: rgba(255,255,255,0.2);
  margin: 0px;
  margin-top: 20px;
  justify-content: flex-end;
}

.rodape{
  margin: 0px;
  margin-top: 0px;
  text-align: center;
  justify-content: flex-end;
}

/*------------------ ÁREA DE POSTAGEM ------------------*/
.postagem{
  background-color: rgba(0,0,0,0.4);
  width: 70%;
  height: 23rem;
  margin-left: 2%;
  padding: 1rem;
  display: block;
}

.grupo{
  display: inline-flex;
}
.quadro
{
  display: flex;
  padding: 10px;
  width: 240px;
  height: 240px;
  background-color: white;
  border: 10px solid #8B4513 ;
  color: brown;
  border-radius: 50%;
}

figure{
  text-align: center;
  margin: 0px;
  margin-top: 0%;
}

.imagem{
  width: 240px;
  height: 240px;
  border-radius: 50%;
  justify-content: center;
}

.texto{
  padding-left: 20px;
  width: 90%;
}
